# Harshal Patel
## Research question/interests

Briefly describe your research question or interests here.

How has Covid-19 affected the active users of games on steam?

## Milestone 3

#### Imports

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from Method_Chain import load_process_covid

### Analysis Pipeline

#### Load Data

In [2]:
chord1 = pd.read_csv('../data/raw/SteamCharts.csv', encoding='latin')

#### Clean Data

In [3]:
df_covid = chord1.drop(['peak', 'avg_peak_perc', 'gamename','avg'], axis = 1)
# df_covid.pop()
# df_covid.pop()
# df_covid

#### Process Data & Wrangled

In [4]:
df_covid = df_covid.convert_dtypes()
df_covid

       year      month      gain
0      2021  February   -2196.42
1      2021   January   25405.91
2      2020  December   49049.17
3      2020  November   55087.89
4      2020   October    6816.37
...     ...        ...       ...
83784  2017      July    -485.13
83785  2017      June    -231.92
83786  2017       May     415.61
83787  2017     April     720.21
83788  2017     March       <NA>

[83789 rows x 3 columns]

In [5]:
df_covid.sort_values('year')
df_covid.dropna(0, inplace = True)
df_covid

C:\Users\HARSHA~1\AppData\Local\Temp/ipykernel_13096/2496084164.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only
  df_covid.dropna(0, inplace = True)

       year      month      gain
0      2021  February   -2196.42
1      2021   January   25405.91
2      2020  December   49049.17
3      2020  November   55087.89
4      2020   October    6816.37
...     ...        ...       ...
83783  2017    August    -139.09
83784  2017      July    -485.13
83785  2017      June    -231.92
83786  2017       May     415.61
83787  2017     April     720.21

[82529 rows x 3 columns]

In [6]:

df_year = df_covid.loc[df_covid['year'] == 2019]
df_year = df_year.loc [df_year['month'] == 'January ']     
gainJan2019 = df_year['gain'].mean()

df_year = df_covid.loc[df_covid['year'] == 2019]
df_year = df_year.loc [df_year['month'] == 'February ']     
gainFeb2019 = df_year['gain'].mean()

df_year = df_covid.loc[df_covid['year'] == 2019]
df_year = df_year.loc [df_year['month'] == 'March ']     
gainMar2019 = df_year['gain'].mean()

df_year = df_covid.loc[df_covid['year'] == 2020]
df_year = df_year.loc [df_year['month'] == 'January ']     
gainJan2020 = df_year['gain'].mean()

df_year = df_covid.loc[df_covid['year'] == 2020]
df_year = df_year.loc [df_year['month'] == 'February ']     
gainFeb2020 = df_year['gain'].mean()

df_year = df_covid.loc[df_covid['year'] == 2020]
df_year = df_year.loc [df_year['month'] == 'March ']     
gainMar2020 = df_year['gain'].mean()


data = {'Month': ['January', 'February', 'March', 'January', 'February', 'March'], 'Year': [2019,2019,2019,2020,2020,2020], 'AvgGainPerGame': [gainJan2019, gainFeb2019, gainMar2019, gainJan2020, gainFeb2020, gainMar2020 ]}  

df_covid_final = pd.DataFrame(data)
display(df_covid_final)

      Month  Year  AvgGainPerGame
0   January  2019       53.710861
1  February  2019     -193.870658
2     March  2019      -45.172004
3   January  2020      146.767372
4  February  2020       48.847547
5     March  2020      369.502472

### Method Chaining

In [7]:
print(load_process_covid('../data/raw/SteamCharts.csv'))

      Month  Year  AvgGainPerGame
0   January  2019       53.710861
1  February  2019     -193.870658
2     March  2019      -45.172004
3   January  2020      146.767372
4  February  2020       48.847547
5     March  2020      369.502472

In [9]:
df_covid_sorted = load_process_covid('../data/raw/SteamCharts.csv')
df_covid_sorted.to_csv("../data/processed/covid.csv")

### Exploritory Data Analysis

#### Understanding your Variables

In [ ]:
chord1.head()

In [ ]:
print(chord1.shape)

In [ ]:
print(chord1.dtypes)

In [ ]:
chord1.columns

In [ ]:
print(chord1.nunique(axis=0))

In [ ]:
chord1.describe()

#### Visualization

In [ ]:
corr = chord1.corr()
sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns, annot=True, cmap=sns.diverging_palette(220, 20, as_cmap=True))

In [ ]:
fig = plt.gcf()
fig.set_size_inches(15, 8)
sns.scatterplot(x = 'month', y='gain', data = chord1)

In [ ]:
fig = plt.gcf()
fig.set_size_inches(15, 8)
sns.scatterplot(x = 'month', y = 'avg', data = chord1)

### Final Research Question Analysis (Task 4)

In [ ]:
sns.barplot(x ='Month', y= 'AvgGainPerGame', hue = 'Year', data = df_covid_final)